* {
    box-sizing: border-box;
    font-family: 'PT Serif', serif;
}

body {
    background-color: aqua;
    color: black;
}

header {
    text-align: center;
    padding-top: 15px;
    margin-bottom: 50px;
}

h1 {
    font-size: 60px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    font-size: 1.05rem;
}

.score-styles {
    padding: 0;
    width: 100px;
    height: 100px;
    font-size: 69px;
    background-color: aqua;
    cursor: pointer;
    border-radius: 10px;
    border: none;
}

button:hover {
    background-color: black;
}

button:focus {
    background-color: black;
    width: 100px;
    height: 100px;
    border: 2px solid black;
}

#names {
    font-size: 2rem;
}

#header-one {
    margin-bottom: 20px;
    border: 5px double;
}

/* double black */

#header-two {
    margin-bottom: 20px;
    border: 5px double;
}

/* #header-three {
    margin-bottom: 20px;
    border: 3px solid black;
}

#header-four {
    margin-bottom: 20px;
    border: 3px solid black;
} */

#logo {
    font-size: 75px;
}

.header-styles {
    font-size: 100px;
}

.past {
    padding: 23px;
    border: 5px double black;
    line-height: 2;
}